@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<WithAreas.Core.Model.Pirate>
@{
    ViewBag.ItemName = "Pirate";
    ViewBag.ItemNames = ViewBag.ItemName + "s";
}

<h2>@ViewBag.ItemNames</h2>

<ul>
    @foreach (var item in Model)
    {
        <li><a asp-action="Details" asp-route-id="@item.Id">@item</a></li>
    }
</ul>
<a asp-area="@ViewBag.ItemNames" asp-controller="Home" asp-action="Add">Add @ViewBag.ItemName</a>
