@page "{handler?}/{id?}"
@model IndexModel
@{
    ViewBag.ItemName = "Ninja";
    ViewBag.ItemNames = ViewBag.ItemName + "s";
}

<h2>@ViewBag.ItemNames</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    @foreach (var item in Model.Ninjas)
    {
    <tr>
        <td><a asp-page="Details" asp-route-id="@item.Id">@item</a></td>
        <td><form asp-page-handler="Delete" asp-route-id="@item.Id"><input type="submit" value="Delete" class="btn btn-link" /></form></td>
    </tr>
    }
</table>
<form asp-page-handler="Add"><input type="submit" value="Add @ViewBag.ItemName" class="btn btn-success" /></form><br />
<a asp-page="Swords/Index">Ninja Swords List</a>

