@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model WithFeatureFolders.Features.Samurai.Samurai.NinjaListViewModel
@{
    ViewBag.ItemName = "Samurai";
    ViewBag.ItemNames = ViewBag.ItemName;// + "s";
}

<h2>@ViewBag.ItemNames</h2>

<ul>
    @foreach (var item in Model.Ninjas)
    {
        <li><a asp-controller="@ViewBag.ItemNames" asp-action="Details" asp-route-id="@item.Id">@item</a></li>
    }
</ul>
<a asp-controller="@ViewBag.ItemNames" asp-action="Add">Add @ViewBag.ItemName</a><br/>
<a asp-route="SamuraiSwords">Samurai Swords List</a><br />
<a asp-route="NinjaSwords">Ninja Swords List</a>

